.next-button {
  display: inline-flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #151317;
  cursor: pointer;
  background-color: #FFF;

  &__text {
    color: #151317;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.187%;
  }

  &__ico {
    width: 24px;
    height: 24px;
  }
}
